$background: #fafafe;
$background2: #ffffff;
$background3: #fff0de;
$background4: #80485b;
$secondary-color: #f9a109;
$danger: #f44336;
$iconColor: #c1c1c4;
$textColor: #34333a;
$secondaryText: #828282;

//keyframes

@keyframes slideIn {
  0% {
    right: -380px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slideOut {
  0% {
    right: 0px;
  }
  100% {
    right: -380px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-left: -5px;
  }
  100% {
    opacity: 1;

    margin-left: 0px;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
